<html>
    <head>
        <link href="./fontawesome/css/all.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
    
      <style>
            .home{
                height: 50;
                width: 100%;
                background-image: url("public/images/roce.jpg")
            }    
            
            .navbar{
                background-color:#76b6c4;
                border-color: #7fcdff;
            }
            .card-header{
                background-color: #1da2d8;
                
            }
            .card .card-body{
                background-color: #7fcdff;
            }
          
            .leadtable{
              background-color:rgb(255,255,255);
              width:500px;
              height:100%;
              margin:0 auto;
              padding:30px;
              background-color: #7fcdff;
            }
          
            #selectionlist{
                list-style:none
            }
        
             #bowlImage{
            position: absolute;
            left:32%
            }
            #riceImage{
                position: relative;
                
            }

        </style>
    
    <body class="home page-template page-template-homepage page-template-homepage-php page page-id-8 page-homepage">
 
        <div class="header">
            <nav class="navbar fixed-top navbar-expand-lg text-nowrap navbar-light" style="background-color: #7fcdff;">
                <div class="container">
                  <a class="p-0 navbar-brand" href="index.html">
                        <img class="mx-2" height="38px" src="krustykrab.png" alt="" href=index.html>
                        <strong class="d-lg-none d-xl-inline">FreeRice  </strong>
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="modal" data-target="#homepage_settings_modal">
                        <span class="navbar-icon"><span class="fas fa-cog fa-fw " aria-hidden="true"></span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown mx-1">
<!--
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fas fa-book fa-fw " aria-hidden="true"></span> Manga</a>
                                    <div class="dropdown-menu">
                                    </div>
-->
                                    <a href="login.html" class="nav-link"><span class="fas fa-book fa-fw " aria-hidden="true"></span> English</a>
                                    </li>   
                                
                                    <li class="nav-item mx-1" id="login">
                                    <a class="nav-link" href="math" title="You need to log in."><span class="fas fa-book fa-fw " aria-hidden="true"></span> Math</a>
                                    </li>
                                
                                    <li class="nav-item mx-1 dropdown">
<!--
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fas fa-users fa-fw " aria-hidden="true"></span> Community</a>
                                    <div class="dropdown-menu">
                                    </div>
-->
                                     <a href="login.html" class="nav-link"><span class="fas fa-book fa-fw " aria-hidden="true"></span>Science</a>
                                    </li>
                                    <li class="nav-item mx-1 dropdown">
<!--                                    <a href="login.html" class="nav-link"><span class="fas fa-info-circle fa-fw " aria-hidden="true"></span> Sales </a>-->
                                    <div class="dropdown-menu">
                                    
                                    </div>
                                    </li>
                                    </ul>
<!--
                        <form id="quick_search_form" method="get" action="/quick_search" role="search" class="form-inline mx-1 quick-search">
                            <div class="input-group">
                            <div class="input-group-prepend">
                            <select class="form-control" id="quick_search_type" name="type">
                            <option value="all">All</option>
                            <option selected="" value="titles">Manga</option>
                            <option value="groups">Groups</option>
                            <option value="users">Users</option>
                            </select>
                            </div>
                            <input type="text" class="form-control" placeholder="Quick search" name="term" id="quick_search_input" required="">
                            <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit" id="quick_search_button" name="submit"><span class="fas fa-search fa-fw " aria-hidden="true"></span></button>
                            </span>
                            </div>
                        </form>
-->
                        <ul class="navbar-nav">
                            <li class="nav-item mx-1 dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-user-times fa-fw " aria-hidden="true"></span> <span class="d-lg-none d-xl-inline" style="color: #000">{{Guest}}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="editprofile.html"><span class="fas fa-sign-in-alt fa-fw " aria-hidden="true" title="Log in"></span> Profile</a>
                                    <a class="dropdown-item" href="signup.html"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Logout</a>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container" role="main" id="content">
            
        </div>
        <br><br><br>
        


     
    


<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="latest_update"><div class="row m-0">


    
</div>
</div>
    
    
<div class="container" role="main" id="content">
    
<div class="card mb-3">
<h6 class="card-header text-center">English</h6>
<div class="card-body text-center">
 <div id="score_container">
            
        </div>
        
        <div id =“game_container” style="flex-direction: row" >
		
            <h2 id='questionTitle'>{{question}} </h2>
            <ul id ='selectionList'>
                {{#each question}}
                <li><input type="radio" name='{{_id}}' value=i/> {{answers}}</li>
                i++
                {{/each}}
            </ul>

            <p> Click the next button to go to the next question! </p>
            

            <button type="button" id = nextButton> Next </button>
	    </div>	
        <br><br>
        <div id="image_container" style="flex-direction: row">
            <img id="bowlImage" height="250px" src="public/images/rice/emptybowl.png">
            <img id="riceImage" height="250px" >
            <div id="scoreTitle"> SCORE: {{score}}</div>
        </div>
</div>
</div>   
    
    
    
<div id="announcement" class="alert alert-success fade show text-center" role="alert">
<strong>How to play:</strong>
<br> Click on the right answer in the middle of this page.<br>
If you get it right, you get 10 grains to donate.<br> If you get it wrong, don't worry we won't get those rice back</div>
        
<div class="card mb-3">
<h6 class="card-header text-center">Leader Board</h6>
<div class="card-body text-center">
<table class="leadtable">
  <tr>
    <th>RANK</th>
    <th>NAME</th> 
    <th>GRAINS</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
  <tr>
    <td>3</td>
    <td>John</td> 
    <td>100</td>
  </tr>
    
</table>
</div>
</div>
</div>
    
</div>
    
</body>
</html>

<script>
    var allQuestions = [{
	question: 'What is the capital city of Australia?',
	choices: ['Sydney', 'Melbourne', 'Canberra', 'London'],
	correctAnswer: 2
    },
    {
        question: 'Who won the 2014 FIFA World Cup?',
        choices: ['Brazil', 'England', 'Germany', 'Spain'],
        correctAnswer: 2
    },
    {
        question: 'What book series is authored by J.K Rowling?',
        choices: ['Game of Thrones', 'Hunger Games', 'Twilight', 'Harry Potter'],
        correctAnswer: 3
    },
    {	
        question: 'The Eiffel Tower is located in which following country?',
        choices: ['Italy', 'France', 'Iceland', 'Mexico'],
        correctAnswer: 1
    }];
    
    
    //Reference to tags
    var questionTitle = document.getElementById('questionTitle');
    var scpreTitle = document.getElementById('scoreTitle');
    var selectionList = document.getElementById('selectionList');
    var nextButton = document.getElementById('nextButton');

    
    var i = 0;
    var length1 = allQuestions.length;
    var Totalscore = 0;

    nextButton.onclick = function() {
        
        if(i>=1)
        checkCorrect(i-1)
        
        /*itterate through questions*/    
        if(i>allQuestions.length -1){/*go to first when reached last*/
           i=0      
        }    
        populateQuestion(i);
        
    
        
        i++;
    };

    function populateQuestion(qNum) {
        var individualQuestion = allQuestions[i];
        questionTitle.innerText = individualQuestion.question;

        selectionList.innerHTML = ""; //reset choices list
        
        var choiceCount = 0;
        for(key in individualQuestion.choices){
            
            var radioBtnName = 'question'+qNum;
            var choiceText = individualQuestion.choices[key];
            selectionList.appendChild(createLi(choiceCount,radioBtnName,choiceText));
            
            choiceCount++
        }
    }
    
    function checkCorrect(questionNum){
        var correctChoice = allQuestions[questionNum].correctAnswer
        var correctButton = document.getElementsByName("question"+questionNum)
        
        var selectedButton = $('input:radio:checked').val();
        
        if(selectedButton == correctChoice){
            Totalscore+=10;
            document.getElementById("scoreTitle").innerHTML = "Score:"+Totalscore;
            if(Totalscore<100)
            changeRice(Totalscore)
            
        }
        else{
            alert( "youre wrong The correct answer is "+ correctChoice)
        }
        
    }

    function createLi(choiceNum,RadioName, choiceText) {
            var e = document.createElement('li');
            var radioHtml = '<input type="radio" name="' + RadioName + '"'+'value="'+ choiceNum+ '"';    
            radioHtml += '/>';
            radioHtml += choiceText;        
            e.innerHTML = radioHtml;        
            return e;
    }
    
    function changeRice(score){
        document.getElementById("riceImage").src = "public/images/rice/rice"+score+".gif"
    }
    
    
   
</script>
