<html>
    <head>
        <link href="css/all.css" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
    
      <style>
            .home{
                height: 50;
                width: 100%;
                background-image: url("images/roce.jpg")
            }    
            
            .navbar{
                background-color:#76b6c4;
                border-color: #7fcdff;
            }
            .card .card-header{
                background-color: #1da2d8;
                font-size: 30px
            }
            .card .card-body{
                background-color: #7fcdff;
            }
          
            .leadtable{
              background-color:rgb(255,255,255);
              width:500px;
              height:100%;
              margin:0 auto;
              padding:30px;
              background-color: #7fcdff;
            }
          
            #selectionlist{
                list-style:none
            }
        
             #bowlImage{
            position: absolute;
            left:35%
            }
            #riceImage{
                position: relative;
                
            }
          #scoreTitle{
              font-family: "Times New Roman", Times, serif;
              font-size: 20px;
              color: white;
              font-weight: bold
          }
          input[type="radio"] {
          opacity: 0;
          position: fixed;
          width: 0;
          }
          
          label{
            display: inline-block;
            background-color:azure;
            padding: 10px 20px;
            font-family: sans-serif, Arial;
            font-size: 16px;
            border: 2px solid cadetblue;
            border-radius: 4px;
          }
          
          label:hover{
          background-color: #dfd;
          }
          
          input[type="radio"]:focus + label {
            border: 4px solid #444;
          }
          
          input[type="radio"]:checked + label {
            background-color: #bfb;
            border-color:cadetblue;
          }
        </style>
    
    <body class="home page-template page-template-homepage page-template-homepage-php page page-id-8 page-homepage" onload="initQuestion()">
 
        <div class="header">
            <nav class="navbar fixed-top navbar-expand-lg text-nowrap navbar-light" style="background-color: #7fcdff;">
                <div class="container">
                  <a class="p-0 navbar-brand" href="index.html">
                        <img class="mx-2" height="38px" src="images/freerice.png" alt="" href=index.html>
                        <strong class="d-lg-none d-xl-inline">FreeRice  </strong>
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="modal" data-target="#homepage_settings_modal">
                        <span class="navbar-icon"><span class="fas fa-cog fa-fw " aria-hidden="true"></span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown mx-1">

                                    <a href="english" class="nav-link"><span class="fas fa-book fa-fw " aria-hidden="true"></span> English</a>
                                    </li>   
                                
                                    <li class="nav-item mx-1" id="login">
                                    <a class="nav-link" href="math" title="You need to log in."><span class="fas fa-book fa-fw " aria-hidden="true"></span> Math</a>
                                    </li>
                                
                                    <li class="nav-item mx-1 dropdown">

                                     <a href="science" class="nav-link"><span class="fas fa-book fa-fw " aria-hidden="true"></span>Science</a>
                                    </li>
                                    <li class="nav-item mx-1 dropdown">
    <div class="dropdown-menu">
                                    
                                    </div>
                                    </li>
                                    </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item mx-1 dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-user fa-fw " aria-hidden="true"></span> <span class="d-lg-none d-xl-inline" style="color: #000">{{username}}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="editprofile.html"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Edit Profile </a>
                                    <a class="dropdown-item" href="uploadquestion.html"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Upload questions </a>
                                    <a class="dropdown-item" href="logout"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Log Out </a>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container" role="main" id="content">
            
        </div>
        <br><br><br>
        


     
    


<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="latest_update"><div class="row m-0">


    
</div>
</div>
    
    
<div class="container" role="main" id="content">
    
<div class="card mb-3">
<h6 class="card-header text-center">Science</h6>
<div class="card-body text-center">
 <div id="score_container">
            
        </div>
        
        <div id =“game_container” style="flex-direction: row" >
		
            <h2 id='questionTitle'>{{question}} </h2>
            <ul id ='selectionList'>
                {{#each question}}
                <li><input type="radio" name='{{_id}}' value=i/> {{answers}}</li>
                i++
                {{/each}}
            </ul>

	    </div>	
        <br><br>
        <div id="image_container" style="flex-direction: row">
            <img id="bowlImage" height="250px" src="images/rice/emptybowl.png">
            <img id="riceImage" height="250px" >
            <div id="scoreTitle"> Your donation total is 0 grains of rice</div>
        </div>
</div>
</div>   
    
    
    
<div id="announcement" class="alert alert-success fade show text-center" role="alert">
<strong>How to play:</strong>
<br> Click on the right answer in the middle of this page.<br>
If you get it right, you get 10 grains to donate.<br> If you get it wrong, don't worry we won't get those rice back</div>
        
<div class="card mb-3">
<h6 class="card-header text-center">Leader Board</h6>
<div class="card-body text-center">
<table id="leaderboard" class="leadtable">
  <tr>
    <th>RANK</th>
    <th>NAME</th> 
    <th>GRAINS</th>
  </tr>
</table>
</div>
</div>
</div>
    
</div>
    
</body>
</html>

<script>
    var allQuestions = [{{#each questions}}
   {{#whenequal this.category "Science"}}
   {
       category : "{{category}}", question : "{{{question}}}", 
       choices : [
       {{#each choices}}
       "{{this}}",
       {{/each}}], correctans : {{correctans}}
    },
    {{/whenequal}}
    {{/each}}];

    
    //Reference to tags
    var questionTitle = document.getElementById('questionTitle');
    var scpreTitle = document.getElementById('scoreTitle');
    var selectionList = document.getElementById('selectionList');
    var nextButton = document.getElementById('nextButton');

    var LeadTable = document.getElementById("leaderboard");
    var userNames = ["AAAA", "BBBB", "CCCCC"];
    var userGrains = [500,20,30000];
    
    var i = 0;
    var length1 = allQuestions.length;
    var Totalscore = 0;

    function initQuestion(){
        sortTable();
        populateQuestion(0)
        i=1
        
        populateLeaderBoard()
    }
    
    function checkAns(){
        
        if(i>=1){
            checkCorrect(i-1)
        }
        
        /*itterate through questions*/    
        if(i>allQuestions.length -1){/*go to first when reached last*/
           i=0      
        }    
        console.log("Next Question")
        populateQuestion(i);
        
        i++; 
    }
    function populateQuestion(qNum) {
        var individualQuestion = allQuestions[i];
        console.log(allQuestions);
        questionTitle.innerText = individualQuestion.question;

        selectionList.innerHTML = ""; //reset choices list
        
        var choiceCount = 0;
        for(key in individualQuestion.choices){
            
            var radioBtnName = 'question'+qNum;
            var choiceText = individualQuestion.choices[key];
            selectionList.appendChild(createLi(choiceCount,radioBtnName,choiceText));
            
            choiceCount++
        }
    }
    
    function checkCorrect(questionNum){
        var correctChoice = allQuestions[questionNum].correctans
        var correctButton = document.getElementsByName("question"+questionNum)
        
        var selectedButton = $('input:radio:checked').val();
        
        if(selectedButton == correctChoice){
            Totalscore+=10;
            document.getElementById("scoreTitle").innerHTML = "Your donation total is "+Totalscore+" grains of rice";
            if(Totalscore<100)
            changeRice(Totalscore)
            $.post("scoreup")
        }
   
        
    }

    function createLi(choiceNum,RadioName, choiceText) {
            var e = document.createElement('li');
            var radioHtml = '<input type="radio" onclick="checkAns()" name="' + RadioName + '"'+ 'id="'+ choiceNum+ '"' +'value="'+ choiceNum+ '"';    
            radioHtml += '/>';
            radioHtml += '<label ' + 'for="' +choiceNum + '">' +choiceText + '</label>';        
            e.innerHTML = radioHtml;        
            return e;
    }
    
    function changeRice(score){
        document.getElementById("riceImage").src = "images/rice/rice"+score+".gif"
    }
    
     //leaderboard
    function populateLeaderBoard(){
        
        Count = 0;
        
        for(key in userNames){
            LeadTable.appendChild(createTable(Count,userNames[Count],userGrains[Count]));
            
            Count++
        }

    }
    
    
    
    function createTable(Count, userName, userGrains){
       
        var e = document.createElement("tr")
        
        Count++
   
        
        var contentHtml = '<th>' +Count + '</th>';
        contentHtml+= '<th>' + userName + '</th>';
        contentHtml+= '<th>' + userGrains + '</th>';
        
        e.innerHTML = contentHtml;
        
        return e;
        
    }
    function sortTable(){
    var len = userGrains.length;
    var swapped;
    do {
        swapped = false;
        for (var i = 0; i < len; i++) {
            if (userGrains[i] < userGrains[i + 1]) {
                var tmpgrain = userGrains[i];
                var tmpname = userNames[i]
                userGrains[i] = userGrains[i + 1];
                userGrains[i + 1] = tmpgrain;
                userNames[i] = userNames[i + 1];
                userNames[i + 1] = tmpname;
                swapped = true;
            }
        }
    } while (swapped);

        
    }
   
</script>
